
body{
  background-color: #E5E5E5;
  zoom: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container{
  width: 476px;
  margin-top: 8%;
  background: #EFF4F4;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 35.25px;
line-height: 41px;
text-align: center;

color: #282626;
}

.Balance{
  width: 147px;
  height: 82px;
  background: #FFFFFF;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Balance h4{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22.5952px;
line-height: 27px;
text-align: center;

color: #282626;
}
.Balance .bal-small{
  font-weight: 400;
}
.in-ex-container{
  display: flex;
  width: 406px;
  height: 120px;
  margin-top: 18px;
  
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.in-ex-container div{
 
  width:203px;
  text-align: center;
}

.in-ex-container .inc{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32.0099px;
  line-height: 38px;
  text-align: center;
  box-shadow: 15px  0px 2px -15px black;
    color: #66EB64;
}

.in-ex-container .exp{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32.0099px;
line-height: 38px;
text-align: center;

color: #F80000;
}

.in-ex-container .dollar{
  font-weight:700 ;
}
.in-ex-container .bal-am{
  font-style: normal;
font-weight: 400;
line-height: 22px;
  color:black;
}
#tran-history{
  text-align: center;
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 21.01px;
line-height: 25px;
text-align: center;

color: #282626;
}

#tran-history hr{
  width: 432.57px;
  
}
.transaction-list{
  list-style-type: none;
  padding: 0;
  

}
.transaction-list li{
  display:flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-between;
  align-items: center;
  width: 432.57px;
  height: 31px;
background: #FFFFFF;
border-radius: 7px;
margin-bottom: 9px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 19.01px;
line-height: 22px;
text-align: center;

color: #282626;
}
.dollar{
  font-weight:700 ;
}
.tran-form{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#tran-add{
  text-align: center;
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 21.01px;
line-height: 25px;
text-align: center;
margin-bottom: 25px;
color: #282626;

}
#tran-add hr{
  width: 432.57px;

  
}

.tran-form label{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 17.01px;
line-height: 20px;
text-align: center;
margin-bottom: 13px;
color: #282626;
}

.tran-form input{
  width: 351.46px;
height: 31px;
border: 0px;
margin-bottom: 13px;
background: #FFFFFF;
border-radius: 7px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tran-form .add-btn{
  width: 280.29px;
height: 43.5px;
border: 0px;
margin-top: 22px;
margin-bottom: 52px;
background: #60C2C2;
border-radius: 9.82258px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 23.8689px;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}